<li>
  {{name}}

  <button class="change_eat_status" data-id="{{id}}" data-newEat="{{devoured}}">
    {{#if devoured}}EAT TIME!{{else}EAT MORE BURGERS!{{/if}}
  </button>

  <button class="rm_burger" data-id="{{this.id}}">RM-da-Burger!</button>
</li>